.intro {
    @apply max-w-7xl mx-auto my-4 px-4 sm:px-6 flex justify-between items-center;
}

.intro h1 {
    text-shadow: 0px 0px 80px black, 0 0 1em black, 0 0 0.2em black;
    font-family: 'Courier New', Courier, monospace;
    @apply my-28 text-7xl text-white font-extrabold;
}

.intro p {
    text-shadow: 0px 0px 80px black, 0 0 1em black, 0 0 0.2em black;
    font-family: 'Courier New', Courier, monospace;
    @apply my-28 text-xl text-white;
}

.intro img {
    @apply object-scale-down w-1/3 h-1/3 invisible sm:visible;
    animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    transform: rotateZ(-2deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
