.button {
    font-family: 'Courier New', Courier, monospace;
    margin: 1rem;
    cursor: pointer;
    border-radius: 4px;
    border-radius: 10px;
    padding: 0.2rem;
    @apply text-white;
  }

.button_active {
    @apply shadow-inner shadow-2xl;
    @apply bg-gradient-to-r from-purple-42 to-green-42 border-2 border-purple-400;
}
  
.button:hover,
.button:active {
    @apply shadow-inner shadow-2xl;
    @apply bg-gradient-to-r from-purple-42 to-green-42 border-2 border-purple-400;
  }

.button-gradient {
    @apply border-2 border-green-42;
    /* @apply bg-gradient-to-r from-purple-42 to-green-42; */
  }
  
.button:focus {
    outline: none;
  }